<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Ruggero Turra">
    <title>Office temperature</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PV69N02HPY"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-PV69N02HPY');
</script>

<body class="d-flex flex-column h-100">

    <header>
        <nav class="navbar bg-body-secondary navbar-expand-lg" data-bs-theme="dark">
            <div class="container">
              <a class="navbar-brand" href="#">Temperature in my <s>cold</s> <mark>hot office</mark> 🌡</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="https://github.com/wiso/TemperaturaUfficio/" class="nav-link">Code</a>
                        </li>
                        <li>
                            <a href="https://www.dropbox.com/sh/f0j8xol7y0qbeg7/AADTapK4KX_nH-0WyUX67rsJa?dl=0"
                                class="nav-link">Data</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <p><small>Temperature and humidity measured with <a href="https://www.tzonedigital.com/en/product/details/5.aspx">tzone tempu03</a>. Accuracy 0.5°C, 3% RH. Resolution 0.1°C, 0.1% RH</small></p>
        </div>
    </header>

    <main role="main" class="container">
        <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="plot.html" height="525"
            width="100%"></iframe>
    </main>

    <footer class="footer mt-auto pt-3 bg-body-secondary text-center text-lg-start" data-bs-theme="dark">
        <div class="container">
            <span class="text-light">{% if triggered_by %}
                <p>Last updated {{ today }}, trigger by {{ triggered_by }} from branch {{ branch }}</p>
                {% else %}
                <p>Last updated {{ today }}, not on ci</p>
                {% endif %}
            </span>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>
